<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <title>Main page</title>
    <div th:replace="fragment/common :: header"/>
</head>
<body>
<div th:replace="fragment/common :: menu"/>
<h2>Main page</h2>
<div>
    <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
        <input type="submit" value="Sign in"/>
    </form>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <span><a href="/user">User list</a></span>
</div>

<div>
    <form method="post" th:action="@{/}" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="message">
        <input type="text" name="tag" placeholder="tag">
        <input type="file" name="file">
        <button type="submit">Add</button>
    </form>
</div>

<div>Message list</div>

<form method="get" th:action="@{/}">
    <input type="text" name="filter" placeholder="filter" th:value="${filter}">
    <button type="submit" value="Filter">Filter</button>
</form>

<div th:each="message : ${messages}">
    <b th:text="${message.id}"/>
    <span th:text="${message.text}"/>
    <i th:text="${message.tag}"/>
    <strong th:text="${message.authorName}"/>
    <div>
        <img width="200" th:src="|/img/${message.filename}|" th:if="${message.filename} != null">
    </div>
</div>

</body>
</html>
