<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xsi:schemaLocation="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <form method="post" th:action="@{/main}">
        <input type="text" name="text" placeholder="message">
        <input type="text" name="tag" placeholder="tag">
        <button type="submit">Add</button>
    </form>
</div>
<div>Message list</div>
<form method="post" th:action="@{/filter}">
    <input type="text" name="filter" placeholder="filter">
    <button type="submit" value="Filter">Filter</button>
</form>

<div th:each="message : ${messages}">
    <b th:text="${message.id}"/>
    <span th:text="${message.text}"/>
    <i th:text="${message.tag}"/>
</div>
</body>
</html>