<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
Add new user
<div th:if="${message}" th:text="${message}"/>
<form th:action="@{/registration}" method="post">
    <div><label> User name: <input type="text" name="username"/></label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign up"/></div>
</form>
</body>
</html>