<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <title>User edit</title>
    <div th:replace="fragment/common :: header"/>
</head>
<body>
<div th:replace="fragment/common :: menu"/>
<h2>User edit</h2>

<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <input type="text" th:field="*{username}">
    <div th:each="role: ${roles}">
        <input type="checkbox" th:field="*{roles}" th:value="${role}"/>
        <label th:for="${#ids.prev('roles')}" th:text="${role}"/>
    </div>
    <input type="hidden" th:field="*{id}">
    <button type="submit">Save</button>
</form>

</body>
</html>
